<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1" id="data-fabric-web-tool">
    <servlet>
        <servlet-name>main-servlet</servlet-name>
        <servlet-class>org.example.MainServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>films-servlet</servlet-name>
        <servlet-class>org.example.Servlets.Film.FilmsServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>directors-servlet</servlet-name>
        <servlet-class>org.example.Servlets.Director.DirectorsServlet</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>actors-servlet</servlet-name>
        <servlet-class>org.example.Servlets.Actor.ActorsServlet</servlet-class>
        <load-on-startup>4</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>film-servlet</servlet-name>
        <servlet-class>org.example.Servlets.Film.FilmServlet</servlet-class>
        <load-on-startup>5</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>last-years-servlet</servlet-name>
        <servlet-class>org.example.Servlets.Film.LastYearFilmsServlet</servlet-class>
        <load-on-startup>6</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>actor-director-servlet</servlet-name>
        <servlet-class>org.example.Servlets.Actor.ActorsDirectorsServlet</servlet-class>
        <load-on-startup>7</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>main-servlet</servlet-name>
        <url-pattern>/main-servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>films-servlet</servlet-name>
        <url-pattern>/films-servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>directors-servlet</servlet-name>
        <url-pattern>/directors-servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>actors-servlet</servlet-name>
        <url-pattern>/actors-servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>film-servlet</servlet-name>
        <url-pattern>/film-servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>actor-director-servlet</servlet-name>
        <url-pattern>/actor-director-servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>last-years-servlet</servlet-name>
        <url-pattern>/last-years-servlet</url-pattern>
    </servlet-mapping>
</web-app>